@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Send">
        <label> id </label> <input type="number" name="Id"/>
        <label> message </label> <input type="text" name="Message"/>
        <input type="submit" value="save"/>
    </form>
    

</div>
